/* header */
@media (max-width: 906px){
    .wrapper, 
    ul{
      display: block;
      text-align: center;
    }   
    .nav-a{
      display: block;
    }  
    .social-icons{
      display: flex;
      justify-content: center; 
    } 
    .logo{
      text-align: left;
    }
    .burger-icon{
      color: #808080;
      display: block;
      font-size: 30px;
      position: absolute;
      top: 40px;
      right: 30px;
      cursor:pointer;
    }
    .menu-ul,
    .social-icons{
      display: none;
    }   
    .menu-ul.open-menu{
      display: block;
    } 
    .social-icons.open-socicon{
      display: flex;
    } 
  }
  /* about us section-2 */

  @media (max-width: 1590px) {
   .text-wraper-about {
      padding: 20px;
   }
}
@media (max-width: 1490px) {
  .title-text-about {
    margin-bottom: 10px;
    font-size: 22px;
  }
  .text-1-about {
    font-size: 18px;
    padding: 8px 0;
  }
  .text-wraper-about {
    padding: 30px;
    margin: 0 auto;
  }
  .button-about {
    font-size: 19px;
    margin-top: 15px;
}
}
@media (max-width: 1370px) {
  .title-text-about {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .text-1-about {
    font-size: 15px;
    padding: 8px 0;
  }
  .text-wraper-about {
    padding: 30px;
  }
  .button-about {
    font-size: 19px;
    margin-top: 15px;
}
}
@media (max-width: 1250px) {
  .title-text-about {
    margin-bottom: 9px;
    font-size: 20px;
  }
  .text-1-about {
    font-size: 14px;
    padding: 5px 0;
  }
  .text-wraper-about {
    padding: 20px;
  }
  .button-about {
    font-size: 14px;
    margin-top: 15px;
  }
}
@media (max-width: 1080px) {
  .title-text-about {
    margin-bottom: 9px;
  }
  .text-1-about {
    font-size: 14px;
    padding: 5px 0;
  }
  .text-wraper-about {
    padding: 15px;
  }
  .button-about {
    height: 40px;
    width: 120px; 
    font-size: 14px;
    margin-top: 15px;
  }
}  
@media (max-width: 1025px) {
  
  .text-1-about {
    font-size: 12px;
  }
}  
@media (max-width: 939px) {
  .container-about {
  flex-direction: column;
  align-items: center;
  }
  .title-text-about {
    margin-bottom: 15px;
    font-size: 22px;
  }
  .text-1-about {
    font-size: 15px;
    padding: 10px 0;
  }
  .text-wraper-about {
    padding: 30px;
  }
  .button-about {
    height: 50px;
    width: 184px;
    font-size: 19px;
    margin-top: 15px;
} 
.left-block-about,
.right-block-about {
    width: 100%;  
}
}


/* about us */
@media (max-width: 1024px) {
  .container {
      flex-direction: column;
      align-items: center;
  }
}