/* header */
@media (max-width: 956px){
    .wrapper, 
    ul{
      display: block;
      text-align: center;
    }   
    .nav-a{
      display: block;
    }  
    .social-icons{
      display: flex;
      justify-content: center; 
    } 
    .logo{
      text-align: left;
    }
    .burger-icon{
      color: #808080;
      display: block;
      font-size: 30px;
      position: absolute;
      top: 40px;
      right: 30px;
      cursor:pointer;
    }
    .menu-ul,
    .social-icons{
      display: none;
    }   
    .menu-ul.open-menu{
      display: block;
    } 
    .social-icons.open-socicon{
      display: flex;
    } 
  }
  /* index-cover */
  @media (max-width: 1040px) {
    .cover-text {
      font-size: 32px;
  }
  .cover-text-2 {
      font-size: 20px;
      margin-top: 60px;
  }
  .cover-text-3 {
      font-size: 20px; 
      margin-top: 90px;
  }
  } 
  @media (max-width: 740px) {
    .cover-text {
      font-size: 22px;
      top: 20px;
  }
  .cover-text-2 {
      font-size: 15px;
      margin-top: 10px;
  }
  .cover-text-3 {
      font-size: 15px; 
      margin-top: 30px;
  }
  }
   
  /* about us section-2 */

  @media (max-width: 1590px) {
   .text-wraper-about {
      padding: 20px;
   }
}
@media (max-width: 1490px) {
  .title-text-about {
    margin-bottom: 10px;
    font-size: 22px;
  }
  .text-1-about {
    font-size: 18px;
    padding: 8px 0;
  }
  .text-wraper-about {
    padding: 30px;
    margin: 0 auto;
  }
  .button-about {
    font-size: 19px;
    margin-top: 15px;
}
}
@media (max-width: 1370px) {
  .title-text-about {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .text-1-about {
    font-size: 15px;
    padding: 8px 0;
  }
  .text-wraper-about {
    padding: 30px;
  }
  .button-about {
    font-size: 19px;
    margin-top: 15px;
}
}
@media (max-width: 1250px) {
  .title-text-about {
    margin-bottom: 9px;
    font-size: 20px;
  }
  .text-1-about {
    font-size: 14px;
    padding: 5px 0;
  }
  .text-wraper-about {
    padding: 20px;
  }
  .button-about {
    font-size: 14px;
    margin-top: 15px;
  }
}
@media (max-width: 1080px) {
  .title-text-about {
    margin-bottom: 9px;
  }
  .text-1-about {
    font-size: 14px;
    padding: 5px 0;
  }
  .text-wraper-about {
    padding: 15px;
  }
  .button-about {
    height: 40px;
    width: 120px; 
    font-size: 14px;
    margin-top: 15px;
  }
}  
@media (max-width: 1025px) {
  
  .text-1-about {
    font-size: 12px;
  }
}  
@media (max-width: 939px) {
  .container-about {
  flex-direction: column;
  align-items: center;
  }
  .title-text-about {
    margin-bottom: 15px;
    font-size: 22px;
  }
  .text-1-about {
    font-size: 15px;
    padding: 10px 0;
  }
  .text-wraper-about {
    padding: 30px;
  }
  .button-about {
    height: 50px;
    width: 184px;
    font-size: 19px;
    margin-top: 15px;
} 
.left-block-about,
.right-block-about {
    width: 100%;  
}
}
/* logn in */
@media (max-width: 768px) {
  .video-container {
  flex-direction: column;
  align-items: center;
  }
  .s-wraper {
    margin: 0 auto;
    margin-bottom: 50px;
    
  }
  .video-title {
    text-align: center;
  }
  .r-title {
    margin-left: 50px;
    margin-top: 60px;
}
}

/* home */

@media (max-width: 1378px) {
  .box-1-text-block {
   height: 210px;  
}
} 
@media (max-width: 1212px) {
  .box-1-text-block {
   height: 230px;  
}
} 


@media (max-width: 1024px) {
  .box-1-text-block {
     height: 250px;  
 }
 .box-1-text-block-2 {
   height: 230px;
 }
} 
@media (max-width: 907px) {
  
  .block-1,
  .block-2 {
    flex-direction: column;
    align-items: center;
}
.box-1-text-block {
     
  height: 180px;  
}
.box-1-text-block-2 {
  height: 150px;
}

.button {
  display: flex;
  margin-left: 25px;
  margin-bottom: 25px;
}
.section-2-title {
  line-height: 100px;
}
} 

@media (max-width: 480px) {
  .box-1-text-block {
   height: 250px;  
}
.box-1-text-block-2 {
  height: 210px;
}
.section-2-title {
  font-size: 20px;
  line-height: 50px;
}
} 

/* register */

@media (max-width: 1202px) {
  .reg-title,
  .Reg-form {
      margin-left: 50px; 
      margin-right: 20px;
}
} 
/* contact */
@media (max-width: 1260px) {
  .map {
    width: 428px;
    height: 232px;
}
}
@media (max-width: 957px) {
  .container-contact{
    flex-direction: column;
    align-items: center;
}
  .left-block-contact {
    margin: 0 auto;
}
.map {
  margin-top: 20px;
}
}


@media (max-width: 480px) {
  .map {
    width: 214px;
    height: 116px;
  }
} 

@media (max-width: 1270px) {
  
.textarea-block {
    width: 450px;
    /* height: 288px;
    border: none;
    resize: none;
    background-color: lightgray; 
    padding: 30px; */
} 
}

@media (max-width: 957px) {
  .input2-block {
    width: 152px;
    height: 40px;
    margin-bottom: 10px;
    padding: 10px;
}
.textarea-block {
    width: 250px;
    height: 188px;
    background-color: lightgray; 
    padding: 30px;
} 
.button2-block {
  width: 152px;
  height: 40px;
}
}
@media (max-width: 480px) {
  .form2-box {
    flex-direction: column;
    align-items: center;
  }
  .input2-block {
    width: 250px;
    height: 40px; 
}
.textarea-block {
   margin: 0 auto;
} 
.button2-block {
  width: 252px;
  height: 40px;
}
}
